#!/bin/sh
{% if ansible_os_family == 'RedHat' %}
cloud-info-provider-service --yaml {{ cloud_info_provider_conf_dir }}/{{ cloud_info_provider_main_conf_file }} \
                            --middleware {{ cloud_info_provider_middleware }} \
                            --os-username {{ cloud_info_provider_os_username }} \
                            --os-password {{ cloud_info_provider_os_password }} \
                            --os-tenant-name {{ cloud_info_provider_os_project_name }} \
			    --os-user-domain-name {{ cloud_info_provider_os_user_domain_name}} \
			    --os-project-domain-name {{ cloud_info_provider_os_project_domain_name}} \
                            --os-auth-url {{ cloud_info_provider_os_auth_url }}
{% else %}
cloud-info-provider-service --yaml {{ cloud_info_provider_conf_dir }}/{{ cloud_info_provider_main_conf_file }} \
                            --middleware {{ cloud_info_provider_middleware }} \
                            --os-username {{ cloud_info_provider_os_username }} \
                            --os-password {{ cloud_info_provider_os_password }} \
                            --os-project-name {{ cloud_info_provider_os_project_name }} \
			    --os-user-domain-name {{ cloud_info_provider_os_user_domain_name}} \
			    --os-project-domain-name {{ cloud_info_provider_os_project_domain_name}} \
                            --os-auth-url {{ cloud_info_provider_os_auth_url }}
{% endif %}
